/* DRAWER ------------------------------------------------------------------- */
.drawer {
  position: absolute;
  background: blue;
  top: 0;
  bottom: 0;
  right: -50%;
  width: 50%;
  transition: 1s all ease-in-out;
}

.drawer.open {
  right: 0;
}

.drawer_toggle_btn {
  z-index: 99;
  position: absolute;
  top: 30px;
  right: 30px;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 4px;
  background: black;
  display: block;
  margin-bottom: 3px;
  opacity: 1;
  transition: 1s all ease-in-out;
}

.drawer_toggle_btn.open .bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.drawer_toggle_btn.open .bar2 {
  opacity: 0;
}
.drawer_toggle_btn.open .bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* OVERRIDES ---------------------------------------------------------------- */
.CalendarDay--blocked-calendar {
  opacity: 0.3;
  cursor: not-allowed;
}
.SingleDatePicker:first-of-type .SingleDatePickerInput{
  border-right: none;
}
.SingleDatePicker:last-of-type .SingleDatePickerInput{
  border-left: none;
}
.DateInput {
  width: 105px;
}
.DayPickerKeyboardShortcuts__show {
  display: none;
}

/* LAYOUT ------------------------------------------------------------------- */
.wordcloud_fullscreen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2; /* <-- we do this because we have the d3renderer at -1 */
}

/* CONTROLS ----------------------------------------------------------------- */
/*.wordcloud__controls {
  position: fixed;
  top: 18px;
  left: 18px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity ease 0.5s;
}
.wordcloud__controls:hover {
  opacity: 1;
}
@media (min-width: 480px) {
  .wordcloud__controls {
    top: 22px;
    left: 22px;
  }
}*/

.wordcloud__controls-spacer {
  background: white;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  box-sizing: border-box;
  color: #555;
  display: inline-block;
  font-size: 30px;
  height: 50px;
  padding: 8px 5px;
  vertical-align: middle;
}
