// fonts
$html-font-size:      10px;
$body-font-size:    1.6rem;

// colors
// grayscale
$white:               #fff;
$white-smoke:      #f7f7f7;
$mattherhorn:         #555;
$black:               #000;
//red
$amaranth:         #E62C4F;

// spacing
$container-padding:   1rem;

// z-index
